<div class="container-fluid">

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
            Sunt eos et a optio sunt esse nam maxime. Beatae exercitationem ut cupiditate id eum esse. Et
            exercitationem iste harum et officia quia ratione aut.

            Rerum consequatur quibusdam recusandae aspernatur et. Quia sequi ipsum minima voluptatum est quis. Dolores
            enim molestiae voluptates voluptates ex impedit voluptatem. Quia ab blanditiis sit ut eaque vel.

            Repellat ab et molestiae ut ut facilis porro quos cumque. Deserunt similique possimus sapiente nostrum.
            Voluptatem veniam qui illum et ipsa. Et explicabo explicabo quibusdam velit. Officiis et atque aut rem quia
            qui. Deleniti sunt eos veniam expedita.
        </div>

        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
            Sunt eos et a optio sunt esse nam maxime. Beatae exercitationem ut cupiditate id eum esse. Et
            exercitationem iste harum et officia quia ratione aut.

            Rerum consequatur quibusdam recusandae aspernatur et. Quia sequi ipsum minima voluptatum est quis. Dolores
            enim molestiae voluptates voluptates ex impedit voluptatem. Quia ab blanditiis sit ut eaque vel.

            Repellat ab et molestiae ut ut facilis porro quos cumque. Deserunt similique possimus sapiente nostrum.
            Voluptatem veniam qui illum et ipsa. Et explicabo explicabo quibusdam velit. Officiis et atque aut rem quia
            qui. Deleniti sunt eos veniam expedita.
        </div>
    </div>

</div>